.login{
    flex-direction:column;
    width:300px;
    background-color:#f0f4f9;
    padding:15px;
    border-radius:10px;
    box-shadow:0px 0px 10px white;
}
.login-title{
    width:100%;
    text-align:center;
    font-size:23px;
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:2px solid black;
}
.login-inputs{
    display:flex;
    flex-direction:column;
}
.login-inputs input{
    border:none;
    padding:10px;
    margin-bottom:10px;
    border-radius:10px
}
.login-inputs button{
    margin-inline:50px;
    font-size:20px;
    border-radius:10px;
    border:none;
    box-shadow:0px 0px 5px green;
    cursor:pointer;
    padding:5px;
    margin-top:10px;
}
.login-inputs button:hover{
    box-shadow:0px 0px 10px rgb(6, 217, 6);
    color:rgb(24, 169, 24);
    border:none;
    transition-duration:0.5s;
}

.login-inputs p{
    font-size:12px;
    width:100%;
    text-align:center;
    padding-top:10px;
}
.login-inputs p span{
    color:blue;
    margin-left:5px;
    cursor:pointer;
}